body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #21202e;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #2a283e;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}

h1 {
    margin-top: 0;
    color: #dfdad9;
}

#login-partial, #login-partial a {
    padding: 5px;
    margin-top: 0 !important;
    color: #dfdad9 !important;
}

#timer {
    font-size: 60px;
    margin: 30px 0;
    font-weight: bold;
    color: #dfdad9;
}

.controls {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #dfdad9;
}

button:hover {
    background-color: #f6c177;
}

.mode-controls button.active {
    background-color: #333;
    color: white;
}

.controls button.resume {
    background-color: #d7827e;
    color: black;
}

.controls button.pause {
    background-color: #ea9d34;
    color: black;
}

.hidden { display: none }

.modl-content {
    background-color: #524f67;
}

.modl-content > * {
    color: #dfdad9;
}

#pomodoroDuration {
    color: #333;
    margin-top: 3px;
}

#shortBreakDuration {
    color: #333;
    margin-top: 3px;
}

#longBreakDuration {
    color: #333;
    margin-top: 3px;
    margin-bottom: 3px;
}

#settingsSaveBtn {
    color: #333;
}
